.carousel {
    width: 90vw; /* Largura igual à largura da viewport */
    height: 300px; /* Altura desejada */
    margin: auto; /* Centralizar o carrossel */
}

/* Estilos para as imagens dentro do carrossel */
.carousel-inner img {
    width: 100%; /* Largura total */
    height: 400px; /* Altura fixa */
    object-fit: cover; /* Redimensionar as imagens para cobrir todo o espaço do contêiner */
}